<!DOCTYPE html>
<html>
    <head>
        <meta charset="UTF-8">
        <meta name="viewport" content="wisth=device-width , initial-scale=1.0">
        <title> All Products - Redstore
        </title>
        {% load static %}
        <link rel="stylesheet" href="{% static 'css/login.css' %}">
        <link rel="stylesheet" href="{% static 'js/scripts.js' %}">
        <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css">
        <link rel="preconnect" href="https://fonts.googleapis.com">
        <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
        <link href="https://fonts.googleapis.com/css2?family=Poppins&display=swap" rel="stylesheet">
    </head>
    <body>
<body>

    <div class="container">
        <div class="card center spacer">
            <h1 class="title text-center">Reset Password</h1>
            <div class="mute-paragraph">
                Enter the email address associated with your account and we'll send you an email with instructions to reset your password.
            </div>

            <form method="get" class="login-form spacer" id="signup-form">

                <div class="input-group">
                    <img class="icon input-icon" src="../static/icons/envelope.png" alt="">
                    <input required name="email" id="email" type="email" class="form-input" placeholder="johndoe@mail.com">
                </div>

                <input type="submit" class="submit" value="Send Instructions">
            </form>
            <div class="redirect">
                <a href="resetpassword" class="link">Reset password?</a>

        </div>


    </div>



</body>
</html>