<!DOCTYPE html>
<html>
    <head>
        <meta charset="UTF-8">
        <meta name="viewport" content="wisth=device-width , initial-scale=1.0">
        <title> All Products - Redstore
        </title>
        {% load static %}
        <link rel="stylesheet" href="{% static 'css/login.css' %}">
        <link rel="stylesheet" href="{% static 'js/scripts.js' %}">
        <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css">
        <link rel="preconnect" href="https://fonts.googleapis.com">
        <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
        <link href="https://fonts.googleapis.com/css2?family=Poppins&display=swap" rel="stylesheet">
    </head>
    <body>
<body>
    <!--messages-->
    <div class="messages">
        <img class="message-icon" src="icons/sign.svg" alt="error">
        <div class="message">
            <h3 class="message-title title">Error</h3>
            <p class="message-paragraph">Something went wrong!</p>
        </div>
        <span class="message-close error">x</span>
    </div>
    <!--end messages-->

    <div class="container">
        <div class="card center spacer">
            <h1 class="title text-center">Create New Password</h1>
            <div class="mute-paragraph">
                Your new password must be different from your previous passwords.
            </div>
            <form method="get" class="login-form spacer" id="signup-form">
                <div class="input-group">
                    <img class="icon input-icon" src="../static/icons/key.svg" alt="">
                    <input required name="password1" id="password1" type="password" class="form-input" placeholder="password" maxlength="22" minlength="8">
                </div>
                <div class="input-group">
                    <img class="icon input-icon" src="../static/icons/key.svg" alt="">
                    <input required name="password2" id="password2" type="password" class="form-input" placeholder=" confirm password" maxlength="22" minlength="8">
                </div>
                <input type="submit" class="submit" value="Reset">
            </form>

        </div>


    </div>



</body>
</html>